<h1> Pedidos de Hoje </h1>

<% total = 0 %>

<% @today_open_orders.each do |order| %>
  <h2><%= Restaurant.find(order.restaurant.to_i).name %> do <%= Restaurant.find(order.restaurant.to_i).Shopping.name %></h2>
  
  <% order.order_info.each_with_index do |info, index| %>
    <% dish = info[0] %>
    <% price = info[1] %>
    <% qtt = info[2] %>
    <% total += price.to_f * qtt.to_f %>
    <h2> Prato: <%= dish %>, Preço: <%= price %> | Quantidade: <%= qtt %>
      <%= link_to "Excluir", "/order/#{order.id}/#{index}", data:{confirm: "Gostaria de remover esse prato?"} %>
    </h2>
  <% end %>
<% end %>

<br>

<% if total > 0 %>
  <h2>O total é de R$<%= total %></h2>
  <div><h2><%= link_to "Finalizar Pedido(s)", "/order/confirm" %></h2></div>
<% else %>
  <h2>Você não realizou um pedido ainda.</h2>
  <h2><%= link_to "Ver Shoppings", home_index_path %></h2>
<% end %>