<% total = 0 %>
<% order_qtt = 0 %>

<% if @to_show_msg %>
  <h2 id="cart-message"><%= @msg %></h2>
<% end %>

<table class="table table-borderless">
  <thead>
    <th>Prato</th>
    <th>Preço</th>
    <th>Quantidade</th>
    <th>Adicionar</th>
    <th>Remover</th>
  </thead>
  <tbody>
    
      <% (@menu.split ",").each_with_index do |dish, dish_number| %>
        <% temp = dish.split "/" %>
        <% dish_name = temp[0] %>
        <% dish_price = temp[1] %> 

        <tr>  
          <td><%= dish_name %></td>
          <td><%= dish_price %></td>
          <td><%= @qtts[dish_number] %></td>
          <% qtts = @qtts.join("_") %>
          <% plus = "/qtt/+/#{dish_number}/#{qtts}/#{@restaurant_id}" %>
          <% minus = "/qtt/-/#{dish_number}/#{qtts}/#{@restaurant_id}" %>
          <td class="op-button"><a href=<%=plus%>><%= fa_icon "plus", id: "plus" %></a></td>
          <td class="op-button"><a href=<%=minus%>><%= fa_icon "minus", id: "minus" %></td>
        </tr>

        <% total += dish_price.to_f * @qtts[dish_number].to_f %>
        <% order_qtt = qtts %>
      <% end %>

      <tr>
        <td class="total-table"><h2 id="total-table-text">Total</h2></td>
        <td class="total-table"><%= total.round(2) %></td>
      </tr>
  <tbody>
</table>

<%= link_to "Adicionar ao carrinho", "/#{@restaurant_id}/#{order_qtt}", class: "btn btn-primary", id: "add-to-cart" %>