<nav class="navigation">
  <div class="navigation_bar">
    <div class="navigation_buttons" id="home"><h1><%= link_to "Home", root_path %></h1></div>
    <div class="navigation_buttons" id="shoppings"><h1><%= link_to "Lista de Shoppings", home_index_path %></h1></div>
    <div class="navigation_buttons" id="logout"><h1><%= link_to "Sair do sistema", destroy_user_session_path, method: :delete %></h1></div>
  </div>
</nav>

<div id="order">
  <h1><%= link_to "Faça o seu pedido", "/home/order/#{@id}" %></h1>
</div>

<div id="menu">
  <%= image_tag (@image_path) %>
</div>