<%= form_with model: @restaurant do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :shopping %><br>
    <%= form.text_area :shopping %>
  </div>

  <div>
    <%= form.label :image_link %><br>
    <%= form.text_area :image_link %>
  </div>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>